body {
    background-color: ivory;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 64px;
    color: tomato;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: salmon;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
    list-style-type: square;
}

p {
    font-weight: bold;
    color:dimgray;
    font-size: 20px;;
}

a {
    text-decoration: none;
    font-size: 16px;
}